---
title: Community
---

<!Doctype html>
<html id="community">
{% include head-header.html %}

<section id="hero" class="light-text">
	<h1>Community</h1>
</section>



<section id="mainContent">
	<main>
		<div class="content">
			<h3>Ensuring IFC works well everywhere and for everyone.</h3>
			<p>Connect with the IFC community on our <a href="https://buildingsmart-team-slackin.herokuapp.com/">Slack channel</a> or join the
				<a href="https://buildingsmartapi.mobilize.io/">IFC-dev Mobilize group</a>
		</div>
		<div class="content">
			<h3>Sigs</h3>
			<p>(CREATE SIMIULAR GITHUB PAGE WITH LINKS ETC) Have a special interest in how IFC works with another technology?  See our ever growing
				<a href="https://github.com/kubernetes/kubernetes/wiki/Special-Interest-Groups-(SIGs)">lists of SIGs</a>,
				IFC for Infra, IFC for Bridges, IFC for Buildings, IFC for LOL.</p>
		</div>
		<div class="content">
			<h3>(ENTER RELEVANT CUSTOMER LOGOS)Customers</h3>
			<div class="company-logos">
				<img src="/images/community_logos/zulily_logo.png">
				<img src="/images/community_logos/we_pay_logo.png">
				<img src="/images/community_logos/viacom_logo.png">
				<img src="/images/community_logos/goldman_sachs_logo.png">
				<img src="/images/community_logos/ebay_logo.png">
				<img src="/images/community_logos/box_logo.png">
				<img src="/images/community_logos/wikimedia_logo.png">
				<img src="/images/community_logos/soundcloud_logo.png">
				<img src="/images/community_logos/new_york_times_logo.png">
				<img src="/images/community_logos/kabam_logo.png">
			</div>
		</div>
		<div class="content">
			<h3>(Insert URL of events calender for buildingsmart below and give title)</h3>
			<div id="calendarWrapper">
				<iframe src="https://calendar.google.com/calendar/embed?src=nt2tcnbtbied3l6gi2h29slvc0%40group.calendar.google.com&ctz=America/Los_Angeles"
				        frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
		<div class="content">
			<h3>(ENTER LIST OF COMPANIES)Companies</h3>
			<p>We are working with a broad group of companies to make sure that IFC works well for everyone, from
				individual developers to the largest companies in the cloud space.</p>
			<div class="company-logos">
				<img src="/images/community_logos/red_hat_logo.png">
				<img src="/images/community_logos/intel_logo.png">
				<img src="/images/community_logos/core_os_logo.png">
				<img src="/images/community_logos/puppet_logo.png">
				<img src="/images/community_logos/sysdig_logo.png">
			</div>
		</div>
	</main>
</section>

<section id="talkToUs">
	<main>
		<h3>Talk to Us!</h3>
		<h4>We would love to hear from you, how you are using IFC,<br> and what we can do to make it better.</h4>
		<div id="bigSocial">
			<div>
				<a href="https://twitter.com/buildingsmart">@buildingsmart</a>
				<p>Get the latest news and updates.</p>
			</div>
			<div>
				<a href="https://github.com/BuildingSMART">Github Project</a>
				<p>Check out the project and consider contributing.</p>
			</div>
			<div>
				<a href="https://buildingsmart-team.slack.com/">#buildingsmart-team</a>
				<p>Our Slack channel is the best way to contact other people with simiar interests and share your ideas with them.</p>
			</div>
			<div>
				<a href="http://stackoverflow.com/questions/tagged/ifc">Stack Overflow</a>
				<p>Our user forum is a great place to go for community support.</p>
			</div>
			<!-- <div>
				<a href="https://www.linkedin.com/groups/3690870">LinkedIn</a>
				<p>Our user forum is a great place to go for community support.</p>
			</div> -->
		</div>
	</main>
</section>

{% include footer.html %}

</body>
</html>
